<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dam.profesor.paint">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivitya"
            android:label="@string/title_activity_drawing_activitya"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivitya" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityb"
            android:label="@string/title_activity_drawing_activityb"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityb" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityc"
            android:label="@string/title_activity_drawing_activityc"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityd"
            android:label="@string/title_activity_drawing_activityd"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivitye"
            android:label="@string/title_activity_drawing_activitye"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivitye" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityf"
            android:label="@string/title_activity_drawing_activityf"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityf" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityg"
            android:label="@string/title_activity_drawing_activityg"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityg" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityh"
            android:label="@string/title_activity_drawing_activityh"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityh" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityi"
            android:label="@string/title_activity_drawing_activityi"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityi" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityj"
            android:label="@string/title_activity_drawing_activityj"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityj" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityk"
            android:label="@string/title_activity_drawing_activityk"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityk" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityl"
            android:label="@string/title_activity_drawing_activityl"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityl" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivitym"
            android:label="@string/title_activity_drawing_activitym"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivitym" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityn"
            android:label="@string/title_activity_drawing_activityn"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityo"
            android:label="@string/title_activity_drawing_activityo"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityp"
            android:label="@string/title_activity_drawing_activityp"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityq"
            android:label="@string/title_activity_drawing_activityq"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityq" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityr"
            android:label="@string/title_activity_drawing_activityr"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityr" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivitys"
            android:label="@string/title_activity_drawing_activitys"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivitys" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityt"
            android:label="@string/title_activity_drawing_activityt"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityt" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityu"
            android:label="@string/title_activity_drawing_activityu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityv"
            android:label="@string/title_activity_drawing_activityv"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityv" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityw"
            android:label="@string/title_activity_drawing_activityw"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityw" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityx"
            android:label="@string/title_activity_drawing_activityx"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityx" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityy"
            android:label="@string/title_activity_drawing_activityy"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityy" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivityz"
            android:label="@string/title_activity_drawing_activityz"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dam.profesor.paint.DrawingActivityz" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
